# Log files
debug.log

# Python cache and compiled files
__pycache__/
*.pyc

# VS Code editor settings
.vscode/

# Temporary files
.tmp.driveupload/*

# Data directories and historical data
data/*
db/historical_data/*
db/imports/*/data

# SQLite database files and related artifacts
db/*.db
db/*.db-journal
db/*.sqbpro
db/backups/*
**/sqlite3.exe

# Test coverage report 
.coverage 

# Virtualenv
.venv

# Repo zip for easy upload
repo-*.zip
**/sqlite3.exe

