# Log files
debug.log

# Python cache and compiled files
__pycache__/
*.pyc

# Private config files (tracked in separate repo)
.private-config

# Claude Code configuration
.claude
CLAUDE.md*

# Agentic Project Management memory
.apm

# Obsidian vault configuration
.obsidian/

# Temporary files
.tmp.driveupload/*

# Data directory tracked in private submodule 
peeps_data

# Legacy data -- will be deleted when data migration is complete 
data/*
db/historical_data/*
db/imports/*/data

# SQLite database files and related artifacts
db/*.db
db/*.db-journal
db/*.sqbpro
db/backups/*
**/sqlite3.exe

# Test coverage report 
.coverage 

# Virtualenv
.venv

# Repo zip for easy upload
repo-*.zip
